body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div#main {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.malva-navbar-default .malva-navitem {
  padding: 0;  
  margin-top: 15px;
}

.malva-navbar-default .navbar-right {
  margin-top: 0px;
}

.malva-navbar-default .navbar-right li{
  margin-top: 15px;
}

.malva-navbar-default .malva-navitem>li {
  list-style: none;
  margin-right: 15px;
}

.malva-navbar-default .malva-navitem>li>a {
  color: white !important;
  background-color: green;
  font-size: 1.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  padding: 0;
}

.malva-navbar-default .malva-navitem>.active>a {
  background-color: green;
}

.malva-navbar-default .malva-navitem>.active>a:focus {
  background-color: lightgreen;
}

.malva-navbar-default .malva-navitem>.active>a:hover {
  background-color: lightgreen;
}

.malva-navbar-default .malva-navbar-textlink {
  color: white;
  font-size: 1.2em;
  margin-top: 15px;
  margin-right: 15px;
}